<html>
	<head>
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<a href="/">Home</a>&nbsp;|&nbsp;
				<a href="map">Map</a>&nbsp;|&nbsp;
				<a href="info">Info</a>&nbsp;|&nbsp;
				<span>Contact</span>&nbsp;|&nbsp;
				<a href="rsvp">RSVP</a>
				<h1>Contact Us</h1>
				<p>Have any pressing questions for us? Contact us through any of the various methods below.</p>
				<h2>Email:</h2>
				<p><b>Jared:</b> jaredflores2000@gmail.com</p>
				<h2>Cell Phone</h2>
				<p><b>Nathan:</b> 1(951) 400-2961</p>
			</div>
		</div>
	</body>
</html>