<html>
	<head>
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>Contact Us</h1>
				<p>Have any pressing questions for us? Contact us through any of the various methods below.</p>
				<h2>Email:</h2>
				<p>jaredflores2000@gmail.com</p>
				<h2>Cell Phone</h2>
				<p><b>Nathan:</b> 1(951) 400-2961</p>
				<p><b>Chris:</b> 1(951) 294-0253</p>
				<p><b>Jared:</b> 1(951) 760-3784</p>
			</div>
		</div>
	</body>
</html>