<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>Beach Party</h1>
				<p></p>
				<div class="icons">
					<label>
						<center>
							Map
						</center>
						<br />
						<a href="map">
							<img src="images/map-icon.png" width="180px" />
						</a>
					</label>
				</div>
				<div class="icons">
					<label>
						<center>
							Information
						</center>
						<br />
						<a href="info">
							<img src="images/info-icon.png" width="180px" />
						</a>
					</label>
				</div>
				<div class="icons">
					<label>
						<center>
							Contact Us
						</center>
						<br />
						<a href="contact">
							<img src="images/contact-icon.png" width="180px" />
						</a>
					</label>
				</div>
				<div class="icons">
					<label>
						<center>
							RSVP
						</center>
						<br />
						<a href="rsvp">
							<img src="images/rsvp-icon.png" width="180px" />
						</a>
					</label>
				</div>
				<span style="color:white;">.</span>
			</div>
		</div>
	</body>
</html>