<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>Linfield 8th Grade - Beach Party</h1>
				<p>After the amazing turnout of the beach party in 7th grade, we are back once again to throw an amazing end of school year party. </p>
				<div class="icons">
					<label class="icLabel">
						<center>
							Information
						</center>
						<br />
						<a href="info">
							<img src="images/info-icon.png" width="240px" />
						</a>
					</label>
				</div>
				<div class="icons">
					<label class="icLabel">
						<center>
							Map
						</center>
						<br />
						<a href="map">
							<img src="images/map-icon.png" width="240px" />
						</a>
					</label>
				</div>
				<div class="icons">
					<label class="icLabel">
						<center>
							RSVP
						</center>
						<br />
						<a href="rsvp">
							<img src="images/rsvp-icon.png" width="240px" />
						</a>
					</label>
				</div>
				<span style="color:white;">KravMaBurn</span>
				<span style="color:white;">TaeKwonSplash</span>
			</div>
		</div>
	</body>
</html>