<html>
	<head>
		<title>Information</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<a href="/">Home</a>&nbsp;|&nbsp;
				<span>Info</span>&nbsp;|&nbsp;
				<a href="map">Map</a>&nbsp;|&nbsp;
				<a href="rsvp">RSVP</a>
				<h1>Information</h1>
				<p><b>This is a student planned event. This is not organized by Linfield Christian Middle School</b></p>
				<h2>Where:</h2>
				<p><b>Oceanside Pier South</b>
				<br />Oceanside Pier Oceanside, CA 92054</p>
				<p>For more details, head to the <a href="map">map</a> page.</p>
				<h2>When:</h2>
				<p>Friday, June 6th, 2014</p>
				<h2>Time:</h2>
				<p>11:00 am - 5:30 pm</p>
				<h2>Car Arrangements</h2>
				<p>This beach trip is not organized by Linfield, so you'll have to make your own car arrangements. Try carpooling as well. The drive is always a lot more fun (and shorter) when spent with friends.</p>
				<p>If you can't find a ride, <a href="contact">contact us</a>. We can help find you someone to carpool with.</p> 
			</div>
		</div>
	</body>
</html>