<html>
	<head>
		<title>Admin Login</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>Admin Login</h1>
				<form action="" method="POST">
					<label>
						Username:
						<input type="text" name="user" {{val}} />
					</label>
					<br />
					<label>
						Password:
						<input type="password" name="pass" />
					</label>
					<br />
					<input type="submit" value="Login" />
				</form>
			</div>
		</div>
	</body>
</html>