<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.js" ></script>
		<script type="text/javascript" src="js/map.js" ></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>Map</h1>
				<p>Want an estimated time? I programmed an app to calculate how long it would take from your current location. Click the button below to begin!
				<br />
				Thanks,
				</br>
				Jared Flores</p>
				<button class="timeButton">Calculate Estimated Time</button>
				<p></p>
				<center><img src="images/map.png" width="600px"/></center>
			</div>
		</div>
	</body>
</html>