<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.js" ></script>
		<script type="text/javascript" src="js/map.js" ></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<a href="/">Home</a>&nbsp;|&nbsp;
				<a href="info">Info</a>&nbsp;|&nbsp;
				<span>Map</span>&nbsp;|&nbsp;
				<a href="rsvp">RSVP</a>
				<h1>Map</h1>
				<p>Want an estimated time? I programmed an app to calculate how long it would take from your current location. Click the button below to begin! (Note: This program doesn't take traffic into consideration)
				<br />
				Thanks,
				</br>
				Jared Flores</p>
				<center>
				<button class="timeButton">Calculate Estimated Time</button>
				</center>
				<center><img src="images/map.png" width="600px"/>
				<br />
				<span class="directions">For directions and more info click <a href="http://www.ci.oceanside.ca.us/gov/pw/harbor/info/south.asp">here</a>.</span></center>
			</div>
		</div>
	</body>
</html>