<!DOCTYPE html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.js" ></script>
		<script type="text/javascript" src="js/rsvp.js" ></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<a href="/">Home</a>&nbsp;|&nbsp;
				<a href="info">Info</a>&nbsp;|&nbsp;
				<a href="map">Map</a>&nbsp;|&nbsp;
				<span>RSVP</span>
				<h2>Contact Us</h2>
				<p>Have any pressing questions for us? Contact us through any of the various methods below.</p>
				<h2>Email:</h2>
				<p><b>Jared:</b> jaredflores2000@gmail.com</p>
				<h2>Cell Phone</h2>
				<p><b>Nathan:</b> 1(951) 400-2961</p>
				<h1>RSVP</h1>
				<p>Before you RSVP, make sure you have parental permission, as well as a ride to the beach.</p>
				<iframe src="rsvpForm" width="763" height="695" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
		</div>
	</body>
</html>