<!DOCTYPE html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.js" ></script>
		<script type="text/javascript" src="js/rsvp.js" ></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<a href="/">Home</a>&nbsp;|&nbsp;
				<a href="map">Map</a>&nbsp;|&nbsp;
				<a href="info">Info</a>&nbsp;|&nbsp;
				<a href="contact">Contact</a>&nbsp;|&nbsp;
				<span>RSVP</span>
				<h1>RSVP</h1>
				<p>Before you RSVP, make sure you have parental permission, as well as a ride to the beach. Also, please check the Contact Us page and send us confirmation as well.</p>
				<iframe src="rsvpForm" width="763" height="695" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
		</div>
	</body>
</html>