<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<h1>RSVP</h1>
				<p></p>
				<form action="https://docs.google.com/forms/d/1NG7igGyAR6gzqJ34574nWYCwLWWB7Ruj3QH117erf_A/formResponse?embedded=true" method="POST">
					<input type="text" name="entry.2015244640" />
					<br />
					<input type="text" name="entry.1314282843" />
					<br />
					<input type="text" name="entry.1025233066" />
					<br />
					<textarea name="entry.520427274"></textarea>
					<br />
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</body>
</html>